@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 20, 33, 61;
  --primary-light: 37, 52, 92;
  --secondary: 208, 240, 255;
  --accent: 252, 211, 77;
  --background: 15, 23, 42;
  --text: 226, 232, 240;
}

body {
  color: rgb(var(--text));
  background: rgb(var(--background));
}

.bg-primary {
  background-color: rgb(var(--primary));
}

.bg-primary-light {
  background-color: rgb(var(--primary-light));
}

.text-primary {
  color: rgb(var(--primary));
}

.text-secondary {
  color: rgb(var(--secondary));
}

.text-accent {
  color: rgb(var(--accent));
}

.border-accent {
  border-color: rgb(var(--accent));
}

.hover-accent:hover {
  color: rgb(var(--accent));
}

.bg-gradient-custom {
  background: linear-gradient(to bottom, rgb(var(--primary)), rgb(var(--background)));
}

.shadow-glow {
  box-shadow: 0 4px 15px rgba(var(--accent), 0.3);
}

.hover-scale:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}



@layer base {}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
